Storing Strings in variables

In [1]:
name = "Piper Hudspeth Blackburn"

In [2]:
age = 20

In [3]:
print name

Piper Hudspeth Blackburn

In [4]:
print age

20

In [5]:
print name + age

TypeError: cannot concatenate 'str' and 'int' objects

In [6]:
print name + str(age)

Piper Hudspeth Blackburn20

In [9]:
letter1 = "M"
letter2 = "Y"
letter3 = "N"
letter4 = "A"
letter5 = "M"
letter6 = "E"

In [13]:
start = letter1 + letter2 + " " + letter3 + letter4 + letter5 + letter6

In [15]:
print start + " IS " + name

MY NAME IS Piper Hudspeth Blackburn

In [17]:
gas = 2.35
truck = 14

In [18]:
print gas

2.35

In [19]:
print truck

14

In [20]:
3.0/5.0

0.6

In [75]:
colors = ["red", "blue", "green","yellow", "brown", "orange", "pink", "purple", "burgundy", "blanchedalmond"]

In [68]:
print colors[-1]

blanchedalmond

In [76]:
len(colors)

10

In [24]:
print colors [9]

blanchedalmond

In [26]:
cars = {
    "ford":"f150", 
    "volkswagon":"gold",
    "audi":"q2",
    "smart":"smartfor4",
    "bmw":"328i", 
    "toyota":"corolla"}

In [28]:
print cars ["audi"] [1]

2

In [29]:
# loops

Loops

In [33]:
# let's loop through the colors
for color in colors:
    print item

blanchedalmond
blanchedalmond
blanchedalmond
blanchedalmond
blanchedalmond
blanchedalmond
blanchedalmond
blanchedalmond
blanchedalmond
blanchedalmond

In [37]:
# start after first item
for color in colors [1:]:
    print color

blue
green
yellow
brown
orange
pink
purple
burgundy
blanchedalmond

In [38]:
building  = "annenberg"

In [39]:
building [0]

'a'

In [40]:
building[5:]

'berg'

In [41]:
building [:5]

'annen'

In [42]:
colors[:5]

['red', 'blue', 'green', 'yellow', 'brown']

In [43]:
for letter in building:
    print letter

a
n
n
e
n
b
e
r
g

In [47]:
for car in cars:
    print car

toyota
ford
bmw
volkswagon
smart
audi

In [46]:
print cars

{'toyota': 'corolla', 'ford': 'f150', 'bmw': '328i', 'volkswagon': 'gold', 'smart': 'smartfor4', 'audi': 'q2'}

toyota = property and corolla = value

In [73]:
for color in colors:
    if color is "blanchedalmond":
        print color

In [72]:
print colors

blanchedalmond

In [77]:
# loop through colors and print everything that's not blanchedalmond
for colors in colors:
    if color is not "blanchedalmond":
        print color

d
d
d
d
d
d
d
d
d
d

In [78]:
8 / 2

4

In [79]:
3 * 3

9

In [81]:
# modulo 
5 % 2

1

In [82]:
8 % 2

0

In [83]:
8 > 10

False

In [84]:
truck >= 14

True

In [85]:
print truck

14

In [86]:
gas > 3

False

In [87]:
print gas

2.35

In [88]:
arkgas = gas

In [89]:
calgas = 4.00

In [90]:
calgas < arkgas

False

In [95]:
sentence = "Jon said, \"Hello.\" "
print sentence

Jon said, "Hello."

In [97]:
sentence2 = 'Danielle said, \'Can we do single quotes?\''
print sentence2

Danielle said, 'Can we do single quotes?'

In [100]:
sentence3 = "Jon said, \"Danielle said, 'Can we do single quotes?\""
print sentence3

Jon said, "Danielle said, 'Can we do single quotes?"

In [103]:
sentence4 = """
This is a line.
And another line.
And even one more line.
"""
print sentence4

This is a line.
And another line.
And even one more line.

In [114]:
# create a text file 
f = open("week2test.txt", "w")

In [115]:
# write a sentence to that file
f.write(sentence4)

In [116]:
f = open("week2test.txt", "r")

In [118]:
f.read()

'\nThis is a line.\nAnd another line.\nAnd even one more line.\n'

In [119]:
f.close()

In [123]:
f = open("week2test.txt", "a")

In [124]:
f.write("I just added this line!")

In [125]:
f.close()

In [129]:
fruits = """
red 
\t*strawberry
\t*cherry
\t*apple
\t*raspberry
"""

In [130]:
print fruits

red
	*strawberry
	*cherry
	*apple
	*raspberry

In [131]:
f = open("week2test.txt", "a")

In [132]:
f.write(fruits)

In [133]:
f.close()

In [134]:
import csv

In [139]:
# open the assessor file
with open("assessor.csv", "r") as csvfile:
    #run the file through csv reader
    assessor = csv.reader(csvfile)
    # loop through each row
    for row in assessor:
        # check if this assesor id number is in row
        if '5525-030-023' in row:
            print row

['5525-030-023', '19811026-50', 'other', 'N', 'UNIVERSITY OF SOUTHERN CA', '', '', '', '457', '', 'N', 'ORANGE DR', '', 'LOS ANGELES CA', '90036-2611', '', '', '', '', '', '', '']

In [140]:
with open("assessor.csv", "r") as csvfile:
    #run the file through csv reader
    assessor = csv.reader(csvfile)
    # loop through each row
    for row in assessor:
        # check if this assesor id number is in row
        if 'UNIVERSITY OF SOUTHERN CA' in row:
            print row

['5525-030-023', '19811026-50', 'other', 'N', 'UNIVERSITY OF SOUTHERN CA', '', '', '', '457', '', 'N', 'ORANGE DR', '', 'LOS ANGELES CA', '90036-2611', '', '', '', '', '', '', '']
['5525-032-017', '19811026-50', 'other', 'N', 'UNIVERSITY OF SOUTHERN CA', '', '', '', '321', '', 'N', 'SYCAMORE AVE', '', 'LOS ANGELES CA', '90036-2685', '0', '', '', 'UNIVERSITY PARK MC-0588', '', 'LOS ANGELES CA', '90089']
['5055-027-022', '19860611-50', '', 'Y', 'UNIVERSITY OF SOUTHERN CA', '', '', 'DEE JACKSON', '1149', '', 'E', '28TH ST', '', 'LOS ANGELES CA', '90011-2159', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['5055-029-020', '19860114-50', '', 'Y', 'UNIVERSITY OF SOUTHERN CA', '', '', 'DEE JACKSON', '1138', '', 'W', '29TH ST', '', 'LOS ANGELES CA', '90007-3115', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['5055-029-021', '19860114-50', '', 'Y', 'UNIVERSITY OF SOUTHERN CA', '', '', 'DEE JACKSON', '1124', '', 'W', '29TH ST', '', 'LOS ANGELES CA', '90007-3114', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['5122-022-002', '19890418-50', 'other', 'Y', 'UNIVERSITY OF SOUTHERN CA', '', '', 'DEE JACKSON', '3500', '', 'S', 'HOPE ST', '', 'LOS ANGELES CA', '90007-4342', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['5123-004-433', '19921026-50', '', 'Y', 'UNIVERSITY OF SOUTHERN CA', '', '', 'DEE JACKSON', '3375', '', 'S', 'HOOVER ST', '115', 'LOS ANGELES CA', '90089-0116', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['5139-029-027', '20101105-50', '', 'Y', 'UNIVERSITY OF SOUTHERN CA', '', '', '', '1155', '', 'S', 'GRAND AVE', 'NO  1410', 'LOS ANGELES CA', '90015-2272', '620', '', 'W', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089']
['2331-032-199', '20080212-50', 'nonReapp', 'Y', 'UNIVERSITY OF SOUTHERN CA', '', '', 'DEE JACKSON', '13032', '', '', 'VICTORY BLVD', '', 'LOS ANGELES CA', '91606-2926', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']

In [141]:
with open("assessor.csv", "r") as csvfile:
    #run the file through csv reader
    assessor = csv.reader(csvfile)
    # loop through each row
    for row in assessor:
        # check if this assesor id number is in row
        if 'UNIVERSITY OF SOUTHERN CA' in row:
            print row[0]

5525-030-023
5525-032-017
5055-027-022
5055-029-020
5055-029-021
5122-022-002
5123-004-433
5139-029-027
2331-032-199

In [148]:
#open up the usc property file 
f = open("usc.txt", "w")

#open the assesor file 
with open("assessor.csv", "r") as csvfile:
    #run the file through csv reader
    assessor = csv.reader(csvfile)
    # loop through each row
    for row in assessor:
        # check if this assesor id number is in row
        if 'UNIVERSITY OF SOUTHERN CA' in row or "UNIVERSITY OF SO CALIF" in row:
            print row[0]
            f.write(row[0] + '\n')
            
#close the file 
f.close()

7480-004-007
7480-040-026
5525-030-023
5525-032-017
5039-002-029
5039-002-030
5039-002-031
5039-002-032
5039-002-033
5039-002-034
5039-003-027
5039-003-029
5039-003-030
5039-012-027
5039-012-029
5039-012-030
5039-012-031
5039-012-033
5039-019-051
5039-024-016
5055-012-019
5055-027-022
5055-029-020
5055-029-021
5122-022-002
5122-025-006
5122-025-010
5122-025-012
5122-025-013
5123-004-403
5123-004-411
5123-004-433
5123-023-024
5123-023-025
5124-011-016
5139-029-027
2331-032-199

In [151]:
#open up the usc property file 
f = open("usc.html", "w")

#write header row 
f.write("<p><strong>ain</strong></p>\n")

#open the assesor file 
with open("assessor.csv", "r") as csvfile:
    #run the file through csv reader
    assessor = csv.reader(csvfile)
    # loop through each row
    for row in assessor:
        # check if this assesor id number is in row
        if 'UNIVERSITY OF SOUTHERN CA' in row or "UNIVERSITY OF SO CALIF" in row:
            print row[0]
            f.write('<p>' + row[0] + '</p>\n')
            
#close the file 
f.close()

7480-004-007
7480-040-026
5525-030-023
5525-032-017
5039-002-029
5039-002-030
5039-002-031
5039-002-032
5039-002-033
5039-002-034
5039-003-027
5039-003-029
5039-003-030
5039-012-027
5039-012-029
5039-012-030
5039-012-031
5039-012-033
5039-019-051
5039-024-016
5055-012-019
5055-027-022
5055-029-020
5055-029-021
5122-022-002
5122-025-006
5122-025-010
5122-025-012
5122-025-013
5123-004-403
5123-004-411
5123-004-433
5123-023-024
5123-023-025
5124-011-016
5139-029-027
2331-032-199

In [2]:
#define a new function
def ladycat(time):
    if time is 'night' :
        print "MEEOOWW"
    elif time is 'day' :
        print "prrrr"
    else:
        print 'zzzzz'

In [3]:
ladycat ('night')

MEEOOWW

In [4]:
ladycat ('day')

prrrr

In [5]:
ladycat ('march')

zzzzz